@import './index.css';

.hero-capsule {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    background-color: black;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    outline: solid rgb(255, 255, 255);
    mix-blend-mode: soft-light;
    filter: saturate(2);
}

.card-wrapper.xl::before {
    outline-width: 4px;
    outline-offset: -8px;
}

.card-wrapper.lg::before {
    outline-width: 3px;
    outline-offset: -6px;
}

.card-wrapper.md::before {
    outline-width: 2px;
    outline-offset: -4px;
}

.card-wrapper.sm::before {
    outline-width: 1px;
    outline-offset: -2px;
}

.card-wrapper {
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
    transition: 800ms cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 5px 10px black;
}

.card-wrapper.sm {
    width: calc(600px / 5);
    height: calc(900px / 5);
}

.card-wrapper.md {
    width: calc(600px / 4);
    height: calc(900px / 4);
}

.card-wrapper.lg {
    width: calc(600px / 3);
    height: calc(900px / 3);
}

.card-wrapper.xl {
    width: calc(600px / 2);
    height: calc(900px / 2);
}

.card-wrapper:hover {
    box-shadow: 0px 40px 30px black;
    cursor: pointer;
    transform-origin: bottom;

    transform: scaleY(1.1) scaleX(1.1);
    ;
}

.card-wrapper::after {
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    content: '';
    display: block;
    position: absolute;
    background: #ffffff;
    transition: 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: -1;
}

.card-wrapper:hover::after {
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #ffffff;
    animation: hover 400ms forwards, pulse-in-out 1500ms infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-wrapper:hover .card-reflection::after {
    height: 200%;
}

.card-wrapper:hover .card-reflection {
    opacity: 1;
}


.card-reflection {
    pointer-events: none;
    clip-path: inset(0 0 0 0);
    position: absolute;
    mix-blend-mode: screen;
    z-index: 1;
    transition: 800ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    overflow: hidden;
}

.card-reflection::after {
    transition: 800ms cubic-bezier(0.19, 1, 0.22, 1);
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    mix-blend-mode: inherit;
    background-image: linear-gradient(25deg,
            rgb(0, 0, 0, 0)20%,
            rgba(192, 192, 192, 0.0)32%,
            rgba(192, 192, 192, 0.145)34%,
            rgba(192, 192, 192, 0.0)40%,
            rgba(0, 0, 0, 0.2) 80%,
            rgba(192, 192, 192, 0.145) 81%,
            rgba(192, 192, 192, 0.145) 90%,
            rgba(192, 192, 192, 0.0)100%);

    background: -webkit-linear-gradient(25deg,
            rgb(0, 0, 0, 0)20%,
            rgba(192, 192, 192, 0.0)32%,
            rgba(192, 192, 192, 0.145)34%,
            rgba(192, 192, 192, 0.0)40%,
            rgba(0, 0, 0, 0.2) 80%,
            rgba(192, 192, 192, 0.145) 81%,
            rgba(192, 192, 192, 0.145) 90%,
            rgba(192, 192, 192, 0.0)100%);
}

.card-appid {
    top: -25px;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    height: 25px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 300ms ease;
    pointer-events: none;
}

.card-title {
    width: 100%;
    height: 50px;
    bottom: -50px;
    position: absolute;
    background-color: var(--gray);
    z-index: -1;
    text-align: center;
    align-self: baseline;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: 300ms ease;
    pointer-events: none;
}

.card-wrapper:active::after {
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    box-shadow: 0px 0px 15px #fff;
}

.card-logo {
    position: absolute;
    display: block;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-logo-placeholder {
    text-align: center;
    margin: 0px auto;
    color: white;
}

.backlogged-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom, var(--secondary-tertiary-color-25), var(--third-tertiary-color-50));
    align-content: center;
    backdrop-filter: contrast(130%) brightness(50%);
}

.backlogged-check {
    z-index: 2;
    position: relative;
    width: 50%;
    height: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-tertiary-color);
}

.card-wrapper-group {
    display: flex;
}

.visible {
    /*     background-color: #2b2b2b53; */
    opacity: 1 !important;
}


@keyframes hover {
    0% {
        scale: 106%;
    }

    100% {
        scale: 101%;
    }
}

@keyframes pulse-in-out {
    0% {
        opacity: 0.3
    }

    50% {
        opacity: .7;
    }

    100% {
        opacity: 0.3;
    }
}