footer {
    background-color: var(--gray);
    width: 100vw;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 5;
    text-overflow: ellipsis;
    overflow: hidden;
}