footer {
    background-color: var(--gray);
    width: 100%;
    bottom: 0;
    position: fixed;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 1;
}