footer {
    background-color: var(--gray);
    width: 100vw;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p{
    padding: 10px;
    flex: 1;
    text-align: center;
    position: relative;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

