.steamid {
    z-index: 1;
}

.login-wrapper p {
    position: relative;
    z-index: 1;
}

.login-wrapper {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    z-index: 1;
}

.login-wrapper button {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 15px;
    border-radius: 0;
    border: 1px solid var(--secondary-tertiary-color);
    background: linear-gradient(45deg, var(--secondary-tertiary-color), var(--third-tertiary-color));
    transition: 500ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-wrapper button:hover {
    color: white;
    outline-color: none;
    outline: 1px solid var(--secondary-tertiary-color);
}

.avatar-wrapper {
    position: relative;
    display: flex;
    z-index: 1;
    height: 350px;
    width: 350px;
    border: 6px solid var(--third-tertiary-color);
}


.title {
    font-size: 2rem;
    max-width: 350px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.steam-background {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.1;
    display: flex;
    fill: black;
}