.steamid {
    position: relative;
}

.login-wrapper {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: var(--gray);
}

.login-wrapper button {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    border-radius: 0;
    border: 1px solid var(--secondary-tertiary-color);
    background: linear-gradient(45deg, var(--secondary-tertiary-color), var(--third-tertiary-color));
    transition: 500ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-wrapper button:hover {
    color: white;
    outline-color: none;
    outline: 1px solid var(--secondary-tertiary-color);
}

.avatar-wrapper{
    z-index: 1;
    height: 350px;
    width: 350px;
    margin: 0px auto;
    padding: 0;
    border: 6px solid var(--third-tertiary-color);
}
.avatar-wrapper img{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
}
.title{
    position: relative;
    font-size: 2rem;
    z-index: 1;
}
.steam-background{
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.3;
    color: black;
    width: 0;
}