.navbar {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    padding: 15px 15px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
}

.navbar-group {
    margin-left: 55px;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    width: fit-content;
    align-items: center;
    padding: 0;
    gap: 15px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    margin: 0px auto;
    padding: 0;
    margin: 0;
}


.nav-link:hover {
    color: var(--secondary-tertiary-color);
    transition: 300ms ease;
}

.nav-link::after {
    position: relative;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--secondary-tertiary-color);
    transition: 300ms ease;
}

.nav-link:hover::after {
    width: 100%;
    transition: 300ms ease;
}

.navbar-profile-wrapper {
    position: relative;
    display: grid;
    height: 100%;
    width: 250px;
    grid-auto-flow: column;
    gap: 25px;
    margin-left: auto;
    margin-right: 50px;
    min-width: 50px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--gray);
    text-align: center;
    border-bottom: 1px solid var(--secondary-tertiary-color);
}

.profile-dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--gray);
    display: grid;
    grid-auto-flow: row;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: 200ms ease;
    z-index: -1;
    cursor: auto;
    gap: 25px;
    padding: 15px 0px;
}

.navbar-profile-wrapper:hover .profile-dropdown,
.profile-dropdown:hover {
    transform: translateY(100%);
}

.profile-dropdown button {
    position: relative;
    width: 250px;
    padding: 15px;
}


.dropdown-item.nav-link:hover {
    cursor: pointer;
}

.dropdown-item .dropdown-item::after {
    display: none;
}

.nav-avatar {
    position: relative;
    float: right;
    height: 50px;
    border: 2px solid var(--secondary-tertiary-color);
}

.nav-username {
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
    text-wrap: nowrap;
}



.logout-btn,
.logout-btn:active,
.logout-btn:hover,
.logout-btn:focus {
    position: relative;
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 5px;
    text-transform: uppercase;
}

.navbar-brand {
    margin-left: 15px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    align-content: center;
    display: grid;
    grid-auto-flow: column;
}
.navbar-icon{
    margin-right: 15px;
    color: black;
    fill: white;
}

ul{
    list-style: none;
}