.navbar {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    background-color: var(--gray);
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 0;
    z-index: 10;
}

.navbar-profile-wrapper {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    margin-right: 25px;
    padding: 10px;
    border-bottom: 1px solid var(--secondary-tertiary-color);
    width: calc(250px);
    justify-content: center;
}

.profile-dropdown {
    position: absolute;
    display: flex;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--gray);
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    z-index: -1;
}

.navbar-profile-wrapper .profile-dropdown {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease;
}

.navbar-profile-wrapper:hover .profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 0%);
}

.profile-dropdown .dropdown-item {
    padding: 15px;
    font-size: 1rem;
    list-style: none;
    width: 100%;
    text-align: center;
    text-transform: capitalize !important;
}

.dropdown-item.nav-link:hover {
    cursor: pointer;
}

.dropdown-item .dropdown-item::after {
    display: none;
}

.nav-avatar {
    position: relative;
    float: right;
    height: 50px;
    border: 2px solid var(--secondary-tertiary-color);
}

.nav-username {
    position: relative;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
}

ul {
    margin-left: 15px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
}

.logout-btn, .logout-btn:active, .logout-btn:hover, .logout-btn:focus{
    position: relative;
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 5px;
}

.nav-link:hover {
    color: var(--secondary-tertiary-color);
    transition: 300ms ease;
}

.nav-link::after {
    position: relative;
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    background-color: var(--secondary-tertiary-color);
    transition: 300ms ease;
}

.nav-link:hover::after {
    width: 100%;
    transition: 300ms ease;
}

.dropdown-item::after {
    position: relative;
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--secondary-tertiary-color);
    transition: 300ms ease;
}
.dropdown-item:hover::after {
    width: 100%;
    transition: 300ms ease;
}

.navbar-brand {
    margin-left: 15px;
}