@import './colors.css';

.background {
    position: fixed;
    z-index: -2;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    mix-blend-mode: soft-light;
    filter: blur(15px);
}

.games-wrapper {
    background-color: #0023333f;
    position: relative;
    padding: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 60dvw;
    height: 40dvh;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(0deg, var(--primary-color), var(--secondary-tertiary-color)) 1;
}

.hero-capsule {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    overflow: hidden;
}

.card-wrapper {
    width: calc(600px / 4.2);
    height: calc(900px / 4.2);
    margin-top: 30px;
    position: relative;
    transition: 300ms ease;
    margin: 65px auto;
}

.card-wrapper::after {
    left: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(0deg, var(--third-tertiary-color), var(--third-tertiary-color));
    transition: 150ms ease;
    z-index: -1;
}

.card-wrapper:hover::after {
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(180deg, var(--secondary-tertiary-color), var(--third-tertiary-color));
}

.card-appid {
    top: -25px;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    height: 25px;
    position: absolute;
    z-index: -1;
}

.card-title{
    width: 100%;
    height: 50px;
    bottom: -50px;
    position: absolute;
    background-color: var(--secondary-color);
    z-index: -1;
    text-align: center;
    align-self: baseline;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-wrapper:hover {
    scale: 1.05;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--footer);
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-tertiary-color);
    border-radius: 6px;
    height: 50px;
    transition: 300ms ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);

}