@import './colors.css';

.background{
    position: fixed;
    z-index: -2;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit:cover;
    mix-blend-mode:soft-light;
    filter: blur(15px);
}
.games-wrapper {
    background-color: #0023333f;
    position: relative;
    padding: 30px;
    left: 50%;
    transform: translate(-50%);
    width: 60dvw;
    height: 40dvh;
    display: flex;
    justify-content: space-around;
    overflow:auto;
    gap: 20px;
    flex-wrap:wrap;
    flex-direction: row;
}
.hero-capsule {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    overflow: hidden;
}
.card-wrapper {
    width: calc(600px / 4.2);
    height: calc(900px / 4.2);
    margin-top: 30px;
    position: relative;
    transition: 300ms ease;
    margin: 65px auto;
}
.card-wrapper::after {
    left: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(0deg, var(--third-tertiary-color), var(--third-tertiary-color));
    transition: 150ms ease;
    z-index: -1;
}
.card-wrapper:hover::after {
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(180deg, var(--secondary-tertiary-color), var(--third-tertiary-color));
}
.card-appid {
    position: absolute;
    bottom: -15%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    background-color: var(--primary-color);
    text-align: center;
}
.card-appid::after {
    position: absolute;
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--primary-tertiary-color);
    z-index: 1;
}
.card-body{
    color: white;
    z-index: 2;
    width: 100%;
    height: 60px;
    bottom: -50%;
    left: 50%;
    background-color: #64646470;
    display: flex;
    transform: translateX(-50%);
    position: absolute;
    align-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(25px);
    font-weight: bolder;
    overflow: hidden;
    justify-content: center;
    font-size: small;
}
.card-wrapper:hover {
    scale: 1.05;
}