.search-form {
    margin: 10px auto;
    text-align: center;
    width: 60dvw;
    padding: 25px;
    background-color: var(--gray);
    display: flex;
    flex-grow: unset;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.search-form input {
    padding: 15px;
    height: 15px;
    width: 80%;
    outline: none;
    border: none;
    color: #fff;
    transition: 300ms ease;
    margin-right: 5px;
    font-size: 1.2rem;
}

.search-form input:focus {
    outline: 2px solid var(--secondary-tertiary-color);
    transition: 200ms ease;
}

.search-form input::placeholder {
    font-size: 1.2rem;
}

.buttons-wrapper {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    height: fit-content;
    font-size: small;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--secondary-tertiary-color);
}

.buttons-wrapper .toggle-appids-btn {
    width: 15px;
    height: 15px;;
}

.reset-btn, .search-btn, .reset-btn:active, .search-btn:active, .search-btn:focus, .reset-btn:focus{
    display: grid;
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
    justify-content: center;
    outline: none;
    border: none;
    box-shadow: none;
}
button:hover{
    color: var(--secondary-tertiary-color);
}
