.search-wrapper {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    z-index: 10;
    width: 60dvw;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--gray);
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.search-form {
    width: 130%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-form input {
    padding: 15px;
    height: 15px;
    width: 80%;
    outline: none;
    border: none;
    color: #fff;
    transition: 300ms ease;
    margin-right: 120px;
    font-size: 1.2rem;
}

.search-form input:focus {
    outline: 2px solid var(--secondary-tertiary-color);
    transition: 200ms ease;
}

.search-form input::placeholder {
    font-size: 1.2rem;
}

.buttons-wrapper {
    margin-left: 35px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    font-size: small;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--secondary-tertiary-color);
}

.buttons-wrapper .toggle-appids-btn {
    width: 15px;
    height: 15px;
}

.reset-btn,
.search-btn,
.reset-btn:active,
.search-btn:active,
.search-btn:focus,
.reset-btn:focus,
.dropdown-btn,
.dropdown-btn:active,
.dropdown-btn:focus {
    display: grid;
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    justify-content: center;
    outline: none;
    border: none;
    box-shadow: none;
}

.dropdown-menu {
    display: none;
    height: 100%;
    margin-top: 0;
    right: 0;
    transition: 300ms ease;
    animation: dropdown-fade-in 300ms ease reverse;
}

.dropdown-menu.shown {
    margin-left: 0;
    left: 100%;
    position: absolute;
    top: 0%;
    display: grid;
    grid-auto-flow: row;
    background-color: var(--gray);
    opacity: 0;
    animation: dropdown-fade-in 300ms ease forwards;

}

.list-item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 250px;
    height: fit-content;
    margin: 0;
    text-wrap: nowrap;
    justify-content: space-between;
    padding: calc(21px / 2);
}

.list-item p {
    width: fit-content;
    margin: 0;
}

.list-item input {
    margin-right: 15px;
    width: fit-content;
    height: fit-content;
}

.shown {
    transition: 300ms ease;
    opacity: 1;
}

button:hover {
    color: var(--secondary-tertiary-color);
}

@keyframes dropdown-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}