.steamid {
    position: relative;
}

.form-wrapper {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: var(--gray);
}


.form-wrapper input {
    padding: 15px;
    width: 80%;
    outline: none;
    border: none;
    color: #fff;
    transition: 300ms ease;
}

.form-wrapper input:focus {
    outline: 2px solid var(--secondary-tertiary-color);
    transition: 200ms ease;
}

.form-wrapper input::placeholder {
    font-size: 1.1rem;
}

.form-wrapper input:hover {
    outline: 1px solid var(--secondary-tertiary-color);
}

.form-wrapper button {
    width: 60%;
    margin: auto;
    margin-top: 15px;
    border-radius: 0;
    border: 1px solid var(--secondary-tertiary-color);
    background: linear-gradient(45deg, var(--secondary-tertiary-color), var(--third-tertiary-color));
    transition: 500ms ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-wrapper button > .steam-logo{
    text-align: center;
    align-self: center;
    vertical-align:middle;
    padding: 0;
    margin: 0;
}



.form-wrapper button:hover {
    color: white;
    outline-color: none;
    outline: 1px solid var(--secondary-tertiary-color);
}

.info-label{
    text-align: center;
    position: absolute;
    margin: 0px auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-bottom: 100px;
}